body {
  margin: 0;
  padding: 20px;
}

#table {
  margin-top: 20px;
  font-family: sans-serif;
  border-collapse: collapse;
  width: 100%;
}
#table td,
#table th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

#table tr:nth-child(even) {
  background-color: #eff5f5;
}

#table tr:hover {
  background-color: #d6e4e5;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #497174;
  color: white;
}

.wrapper {
  font-family: sans-serif;
  text-align: center;
}

h1 {
  color: #497174dc;
}

.radio {
  display: inline;
  margin: 40px;
}
